*{
  padding: 20px;
  margin: 0;
}

.escenario{
  border: 1px solid #ccc;
  padding: 10px;
}

.escenario-1{
  font-size: 32px;
}

.escenario-2{
  font-size: 16px;
}

.em{
  font-size: 2em;
}
.rem{
  font-size: 3rem;
}

