*{
  padding: 0;
  margin: 0;
}

video{
  width: 100vw;
  height: 100vh;
  object-fit: cover; /*Que rellene el tamaño disponoble */
  position: fixed;

}

.header{

  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  object-fit: cover; /*Que rellene el tamaño disponoble */
  position: fixed;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
}