*{
  padding: 0;
  margin: 0;
}
.hover{
  width: 500px;
  height: 100px;
  background-color: aquamarine;
}
.hover:hover{ /*Se activa cuando el reaton pase por encima del elemento*/
 background-color: coral;
}

.listado{
  background-color: aquamarine;
}

.listado p:first-child{
 color: blue;
}

/** Modicar los colores de los link visitdos y los que no, se debe cumplir este orden para no pisar los efectos */
a:link{
  color: purple
}
a:visited{
  color: green;
}
a:hover{
  color: gold;
}
a:active{
 color: deepskyblue;
}
/*******************************************/